*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    overflow: hidden;
}
nav, header, footer{
    display: block;
}
nav{
    position: fixed;
    z-index: 2000;
}
.navlist{
    list-style: none;
    width: 100vw;
    overflow: hidden;
    background-color: #ff4d4d;
}
.navlist.lognav{
    background-color: #6C63FF;
}
.navlist.homenav{
    background-color: #ff4d4d;
}
.navlist.signnav{
    background-color: #38d39f;
}
.c1{
    height: 100vh;
}
.navlinks a{
    padding: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #333;
    float: left;
    text-transform: uppercase;
}
.navlist .navlinks:nth-child(5),.navlist .navlinks:nth-child(6),.navlist .navlinks:nth-child(7){
    float: right;
}
.navlinks a:hover, .ham:hover{
    background-color: #3d3d3d;
    color: white;
}
.ham{
    padding: 10px;
    font-size: 1.5rem;
    text-decoration: none;
    color: #3d3d3d;
    text-transform: uppercase;
    display: none;
}
.landing{
    height: 70vh;
    width: 100vw;
    background: linear-gradient(to top,#ff3838 , #ff4d4d);
}
.box-area{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.box-area li{
    position: relative;
    display: block;
    list-style: none;
    width: 25px;
    height: 25px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 20s linear infinite;
    bottom: 8vh;
    z-index: 100;
}
.box-area li:nth-child(1){
    left: 86%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.box-area li:nth-child(2){
    left: 12%;
    width: 30px;
    height: 30px;
    animation-delay: 1.5s;
    animation-duration: 10s;
}
.box-area li:nth-child(3){
    left: 70%;
    width: 100px;
    height: 100px;
    animation-delay: 5.5s;
}
.box-area li:nth-child(4){
    left: 42%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 15s;
}
.box-area li:nth-child(5){
    left: 65%;
    width: 40px;
    height: 40px;
    animation-delay: 0s;
}
.box-area li:nth-child(6){
    left: 15%;
    width: 110px;
    height: 110px;
    animation-delay: 3.5s;
}
#logo{
    position: relative;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 700%);
}
#logo path:nth-child(1){
    stroke-dasharray: 449.7335205078125;
    stroke-dashoffset: 449.7335205078125;
    animation: line-anim 2s ease forwards 0s;
}
#logo path:nth-child(2){
    stroke-dasharray: 549.0675659179688;
    stroke-dashoffset: 549.0675659179688;
    animation: line-anim 2s ease forwards 0.1s;
}
#logo path:nth-child(3){
    stroke-dasharray: 490.2920837402344;
    stroke-dashoffset: 490.2920837402344;
    animation: line-anim 2s ease forwards 0.2s;
}
#logo path:nth-child(4){
    stroke-dasharray: 336.6719665527344;
    stroke-dashoffset: 336.6719665527344;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(5){
    stroke-dasharray: 226.94400024414062;
    stroke-dashoffset: 226.94400024414062;
    animation: line-anim 2s ease forwards 0.4s;
}
#logo path:nth-child(6){
    stroke-dasharray: 512.352294921875;
    stroke-dashoffset: 512.352294921875;
    animation: line-anim 2s ease forwards 0.5s;
}
#logo path:nth-child(7){
    stroke-dasharray: 604.48291015625;
    stroke-dashoffset: 604.48291015625;
    animation: line-anim 2s ease forwards 0.6s;
}
#logo path:nth-child(8){
    stroke-dasharray: 463.96795654296875;
    stroke-dashoffset: 463.96795654296875;
    animation: line-anim 2s ease forwards 0.7s;
}
#logo path:nth-child(9){
    stroke-dasharray: 483.8929748535156;
    stroke-dashoffset: 483.8929748535156;
    animation: line-anim 2s ease forwards 0.8s;
}
#logo path:nth-child(10){
    stroke-dasharray: 449.7339172363281;
    stroke-dashoffset: 449.7339172363281;
    animation: line-anim 2s ease forwards 0.9s;
}
#logo path:nth-child(11){
    stroke-dasharray: 490.2921447753906;
    stroke-dashoffset: 490.2921447753906;
    animation: line-anim 2s ease forwards 1s;
}
#logo path:nth-child(12){
    stroke-dasharray: 604.478271484375;
    stroke-dashoffset: 604.478271484375;
    animation: line-anim 2s ease forwards 1.1s;
}
#logo path:nth-child(13){
    stroke-dasharray: 463.98419189453125;
    stroke-dashoffset: 463.98419189453125;
    animation: line-anim 2s ease forwards 1.2s;
}
#bike{
    position: absolute;
    left: -40vw;
    z-index: 1000;
    animation: bike-line 10s ease-in-out infinite;
}
#rightWheel{
    animation: wheels-anim 2s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}
#leftWheel{
    animation: wheels-anim 2s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}
#manCycle{
    animation: bike 1s infinite alternate;
    transform-origin: bottom;
}
#hat{
    animation: hat 1s ease-in-out infinite alternate;
    transform-origin: bottom;
    transform-box: fill-box;
}
@keyframes animate{
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
    }
    100%{
        transform: translateY(-800px) rotate(360deg);
        opacity: 0;
    }
}
@keyframes line-anim{
    from{
        fill: transparent;
    }
    to{
        fill: #3d3d3d;
        stroke-dasharray: 0;
        stroke-dashoffset: 0;
    }
}
@keyframes bike-line{
    from{
        left: -40vw
    }
    to{
        left: 95vw;
    }
}
@keyframes wheels-anim{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}

@keyframes bike{
    from{
        transform: rotateX(0deg);
    }
    to{
        transform: rotateX(20deg);
    }
}
@keyframes hat{
    from{
        transform: translateY(0%) rotateZ(0deg);
    }
    to{
        transform: translateY(40%) rotateZ(20deg);
    }
}
.c4{
    position: relative;
}
.login{
    width: 100vw;
    height: 96vh;
    position: relative;
    z-index: 100;
}
.login-container{
    position: absolute;
    width: 200px;
    z-index: 500;
    top:40%;
    left: 50%;
    transform: translateX(100%);
    align-items: center;
    text-align: center;
}
.avatar{
    width: 75px;
}
form h2{
    font-size: 2rem;
    text-transform: uppercase;
    margin: 20px 0;
    color: #333;
}
.input-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.input-div::after, .input-div::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #6C63FF;
    transition: .3s;
}
.input-div::after{
    right: 50%;
}
.input-div::before{
    left: 50%;
}
.input-div.focus  .i i{
    color: #6C63FF;
}
.input-div.focus  div h5{
    top: -5px;
    font-size: 15px;;
}
.input-div.focus::after, .input-div.focus::before{
    width: 50%;
}
.i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.i i{
    color: #2F2E41;
    transition: .3s;
}
.input-div > div{
    position: relative;
    height: 45px;
}
.input-div > div h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #2F2E41;
    font-size: 18px;
    transition: .3s;
}
.inputlogin{
    position: relative;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #2F2E41;
    font-family: 'Poppins', sans-serif;
}
a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #2F2E41;
    font-size: 0.9rem;
    transition: .3s;
}
a:hover{
    color: #6C63FF;
}
.btn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #6C63FF, #664EEF, #6C63FF);
    cursor: pointer;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
}
.btn:hover{
    background-position: right;
}
.wave{
    position: relative;
    height: 100vh;
    left:0;
    bottom:0;
    z-index:-1;
}
.bcontainer{
    position: absolute;
    z-index: 100;
}
.container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}
.img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.img img{
    width: 1000px;
}
.signup-container{
    display: flex;
    align-items: center;
    text-align: center;
}
.sup{
    width: 360px;
}
.avatar{
    width: 100px;
}
.sup h2{
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}
.sinput-div{
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}
.sinput-div::after, .sinput-div::before{
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #38d39f;
    transition: .3s;
}
.sinput-div::after{
    right: 50%;
}
.sinput-div::before{
    left: 50%;
}
.sinput-div.focus  .i i{
    color: #38d39f;
}
.sinput-div.focus  div h5{
    top: -5px;
    font-size: 15px;;
}
.sinput-div.focus::after, .sinput-div.focus::before{
    width: 50%;
}
.i{
    display: flex;
    justify-content: center;
    align-items: center;
}
.i i{
    color: #d9d9d9;
    transition: .3s;
}
.sinput-div > div{
    position: relative;
    height: 45px;
}
.sinput-div > div h5{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}
.sinput{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 1.2rem;
    color: #555;
    font-family: 'Poppins', sans-serif;
}
.signup-container > form > a{
    display: block;
    text-align: right;
    text-decoration: none;
    color: #999;
    font-size: 0.9rem;
    transition: .3s;
}
.signup-container > form > a:hover{
    color: #38d39f;
}
.sbtn{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    margin: 1rem 0;
    font-size: 1.2rem;
    outline: none;
    border: none;
    text-transform: uppercase;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
    cursor: pointer;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    background-size: 200%;
    transition: .5s;
}
.sbtn:hover{
    background-position: right;
}
.sinput[type="date"]{
    color: transparent;
}
.sinput[type="date"]:focus{
    color: #555;
}
